/*h1 {
   font-size: 100px;
   color: red;
}

.menu {
  list-style: none;
  text-align: center;
  padding-left: 0;
}
.menu-li {
  display: inline-block;
}
.menu-li-a {
  display: inline-block;
  color: #ccc;
}*/


/*.menu {
    list-style: none;
    text-align: center;
    padding-left: 0;
  &-li {
    display: inline-block;
    &-a {
      display: inline-block;
      color: #ccc;
      &--active, &:hover {
        color: #fff;
      }
    }
  }
}*/

/*@import "../vendor/normalize/normalize.css";*/
@import "normalize.css";
@import "main.css";
@import "header.css";
@import "footer.css";
@import "layout.css";